
<div class="hidden md:block">
    <div
        class="relative h-[50vh] bg-center bg-no-repeat bg-cover flex items-center justify-center"
        style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('assets/hero.jpg'); z-index: -1;"
    >
        <div class="text-center text-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <h1 class="text-lg md:text-2xl lg:text-5xl">{{ section.settings.tagline }}</h1>
            <p class="my-4">{{ section.settings.description }}</p>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Hero Section",
  "settings": [
        {
            "type": "text",
            "id": "tagline",
            "label": "Store Tagline",
            "default": "Where Time Meets Legacy",
            "info": "This tagline will be displayed at the hero section"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Store Description",
            "default": "``Luxury timepieces for those who value every second. Timeless design. Tradition in every detail.``",
            "info": "This description will below the tagline"
        },
    ],
  "presets": [
    {
      "name": "Hero Section",
    }
  ]
}
{% endschema %}
