<div id="product-list-container">
  {% if search.results.size > 0 %}
    <div class="w-full">
      <p class="text-gray-700 text-center my-10">
        {{ search.results.size }} result for the search term <b>{{ search.terms | escape }}</b>
      </p>
    </div>
    <div class="w-full flex items-center justify-between mt-10 px-4 md:px-24">
      <div>
        <button
          @click="filterSlide = true"
          type="button"
          class="w-26 flex justify-between shadow-xl text-black py-2 ml-3 pl-4 pr-6 rounded-md cursor-pointer border-1"
        >
          {% render 'icon-filter-horizontal' %}
          <span>filters</span>
        </button>
      </div>
      <div>
        {% comment %} <select
          id="sort-by"
          name="sort_by"
          title="sort_by"
          class="w-auto flex justify-between shadow-xl text-black py-2  pr-6 rounded-md cursor-pointer border-1"
        >
          <option value="manual">Featured</option>
          <option value="best-selling">Best selling</option>
          <option value="title-ascending">Alphabetically, A-Z</option>
          <option value="title-descending">Alphabetically, Z-A</option>
          <option value="price-ascending">Price, low to high</option>
          <option value="price-descending">Price, high to low</option>
          <option value="created-ascending">Date, old to new</option>
          <option value="created-descending">Date, new to old</option>
        </select> {% endcomment %}
      </div>
    </div>
  {% endif %}
  {% paginate search.results by 8 %}
    {% if search.results.size > 0 %}
      <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4">
          {% for item in search.results %}
            {% case item.object_type %}
              {% when 'product' %}
                {% render 'product-card', product_item: item %}
              {% else %}

            {% endcase %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="my-10">
        <p class="text-center">
          No results for the search term: {{ search.terms | escape }}. Try to use a different keyword
        </p>
      </div>
    {% endif %}

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>
