<filter-grid data-section-id="{{ section.id }}" class="relative" x-data="{ filterSlide : false }">
  <div class="px-4 py-8 z-0" :class="{ 'z-120 pointer-events-none': filterSlide }">
    <div class="w-full">
      <a
        href="{{ routes.collections_url }}"
        class="text-base text-gray-500 hover:underline text-center block my-4 w-40 mx-auto"
      >
        Go to collections
      </a>
    </div>
    <h1 class="text-4xl font-bold text-center">{{ collection.title }}</h1>
    <div class="flex items-center justify-between w-full mt-10 md:px-50">
      {% if collection.products.size > 0 %}
        <div>
          <button
            @click="filterSlide = true"
            type="button"
            class="w-26 flex justify-between shadow-xl text-black py-2 pl-4 pr-6 rounded-md cursor-pointer border-1"
          >
            {% render 'icon-filter-horizontal' %}
            <span>filters</span>
          </button>
        </div>
        <div>
          {% render 'sort-select' %}
        </div>
      {% endif %}
    </div>
    <div id="product-list-container">
      {% paginate collection.products by section.settings.number_of_products_per_page %}
        <div class="max-w-6xl mx-auto">
          <div id="product-grid" class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for product in collection.products %}
              {% render 'product-card', product_item: product %}
            {% else %}
              <p class="md:col-span-3 text-center py-20">Sorry, there is no product inside of the collection.</p>
            {% endfor %}
          </div>
        </div>

        {% render 'pagination', pagination: paginate %}
      {% endpaginate %}
    </div>
  </div>

  {% render 'filter-panel' %}
</filter-grid>

{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "default": 6,
      "label": "Number of products per page"
    }
  ]
}
{% endschema %}
